<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		 http://www.springframework.org/schema/beans
    	 http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
     	 http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/aop
         http://www.springframework.org/schema/aop/spring-aop.xsd
         http://www.springframework.org/schema/tx
     	 http://www.springframework.org/schema/tx/spring-tx.xsd">
	<context:annotation-config />
	<context:component-scan base-package="com.offcn.*">
		<!-- 防止重复扫描controller注解 不再扫描Controller，之前在springmvc.xml已经扫描过 -->
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
	<!-- Spring对数据源的管理 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost:3306/work"></property>
		<property name="username" value="root"></property>
		<property name="password" value="1234"></property>
	</bean>

	<!-- spring 管理sqlSessionFactory: mybatis的配置文件和数据源 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 批量设置映射文件 -->
		<property name="mapperLocations" value="classpath:com/offcn/dao/*.xml"></property>
		<!-- 设置mybatis全局配置文件 -->
		<property name="configLocation" value="classpath:mybatisConfig.xml"></property>
		<!-- 设置mybatis需要的数据源 -->
		<property name="dataSource" ref="dataSource"></property>
	</bean>

	<!-- 配置MyBatis Mapper代理 推荐使用批量代理：bean节点id默认是实现接口的首字母小写 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.offcn.dao"></property>
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
	</bean>

	<!-- Spring 事务代理 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<!-- 以find开头的方法设置为只读 -->
			<tx:method name="find*" isolation="DEFAULT" propagation="REQUIRED"
				read-only="true" />
			<!-- 其余的方法设置成可读可写 -->
			<tx:method name="*" isolation="DEFAULT" propagation="REQUIRED"
				read-only="false" />
		</tx:attributes>
	</tx:advice>
	<aop:config>
		<!-- 设置切面表达式的应用范围 -->
		<aop:pointcut expression="execution(* com.offcn.service.*.*(..))"
			id="point" />
		<!-- 设置给指定应用切面表达式范围的事务属性 -->
		<aop:advisor advice-ref="txAdvice" pointcut-ref="point" />
	</aop:config>
</beans>